export FACTURACION_ELECTRONICA_MID_HTTPPORT=8080
export FACTURACION_ELECTRONICA_MID_RUN_MODE=dev
export FACTURACION_ELECTRONICA_MID_PROTOCOL_ADMIN=http
export BUSSERVICIOS_WSO2_SERVICE=
export FACTURACION_ELECTRONICA_SERVICE=
export SOFIA_SERVICE=