export FACTURACION_ELECTRONICA_MID_HTTPPORT=8080
export FACTURACION_ELECTRONICA_MID_RUN_MODE=dev
export FACTURACION_ELECTRONICA_MID_PROTOCOL_ADMIN=http
export FACTURACION_ELECTRONICA_MID_TERCEROS_SERVICE=
export FACTURACION_ELECTRONICA_MID_BUSSERVICIOS_WSO2_SERVICE=
export FACTURACION_ELECTRONICA_MID_WSO2_TERCERO_PAGO_PATH=
export FACTURACION_ELECTRONICA_MID_CONSULTAR_RECIBO_PATH=
export FACTURACION_ELECTRONICA_MID_SOFIA_SERVICE=